*{
    font-family: Arial, Helvetica, sans-serif;
  
} 

body, ul {
    margin: 0%;
    padding: 0%;
    
}
header{
    width: 100%;
}


nav {
    background-color: cadetblue;
    padding:  10px  10%;
}

.first_section {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 10%;
}

h1 {
    font-size: 50px;
}

.content {
    margin-top: 150px;
}

.img {
    background-color: cadetblue;
    width: 350px;
    height: 400px;
    margin-top: 30px;
    margin-left:-100px;
    z-index: -1;

}
.flex-container {
    margin-top: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .but1{
      padding: 20px;
  }

  #navbar {
      display: flex;
      justify-content: space-between;
  }
  #blocks-header {
      display: flex;
      justify-content: center;
  }
  #blocks-header-div {
    width: 88%;
    height: 160;
    background-color: chartreuse;
  }

  #blocks-grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    row-gap: 30px;
  }
  .block-grid {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 560px;
    text-align: center;
  }
  .block-img {
      background-color: darkorchid;
      font-size: 15em;
      text-align: center;
  }
  .block-content {
      margin-top: 10%;
      padding: 10px;
      height: 70%;
      background-color: darksalmon;
  }