*{
    font-family: Arial, Helvetica, sans-serif;
  
} 

body, ul {
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    background-color: cadetblue;
    padding:  10px  10%;
}

section {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 10%;
}

h1 {
    font-size: 50px;
}

.content {
}

.img {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin-left:-100px;
    z-index: -1;

}